# https://github.com/projectcalico/calico/tree/master/charts/tigera-operator
# this overrides the associated sections in https://docs.tigera.io/calico/3.25/reference/installation/api#operator.tigera.io/v1.Installation
installation:
  registry: quay.io/
  imagePath: calico
  cni:
    type: Calico
  {%- if calicoEncapsulation == "vxlan" %}
  calicoNetwork:
    bgp: Disabled
    ipPools:
    - cidr: {{ podNetworkCidr }}
      encapsulation: VXLAN
  {%- endif %}

tigeraOperator:
  image: tigera/operator
  registry: quay.io
calicoctl:
  image: quay.io/calico/ctl
