# config file for: /etc/haproxy/haproxy.conf
# MANAGED BY ANSIBLE PLEASE DO NOT MANUALLY EDIT

frontend http_stats
   bind *:{{ haproxy.status.port }}
   mode {{ haproxy.status.mode }}
   stats uri {{ haproxy.status.uri }}

frontend kube_api_server
    bind *:{{ lb.port }}
    mode tcp
    option tcplog
    timeout client  10800s
    default_backend controlPlanes

backend controlPlanes
    mode tcp
    option tcplog
    balance leastconn
    timeout server  10800s
    {%- for host in groups['master'] %}
    server {{ host }} {{ hostvars[host]["ansible_default_ipv4"]["address"] }}:{{ kubeapi.port }} check
    {%- endfor %}
# EG:
#    server controlPlane01 10.0.0.101:6444 check
#    server controlPlane02 10.0.0.102:6444 check
#    server controlPlane03 10.0.0.103:6444 check
