# KUBEADM CONFIG FILE
# Maintained by Ansible!
#
# https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/
# if properties are only partially defined kubeadm will fill with defaults
# to see defaults use:
# - kubeadm config print init-defaults
# - kubeadm config print join-defaults
# - etc
# ---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  criSocket: "unix:///var/run/crio/crio.sock"
localAPIEndpoint:
  bindPort: {{ kubeapi.port }}
{%- if inventory_hostname in groups["master"] %}
certificateKey: "{{ hostvars[groups['master'][0]]['certificate_key']['stdout'] }}"
{%- endif %}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  podSubnet: "{{ podNetworkCidr }}"
  serviceSubnet: "{{ serviceSubnet }}"
controlPlaneEndpoint: "{{ hostvars[groups['master'][0]]['lb_ip'] }}:{{ lb.port }}"
# ---
# apiVersion: kubelet.config.k8s.io/v1beta1
# kind: KubeletConfiguration
# ---
# apiVersion: kubeproxy.config.k8s.io/v1alpha1
# kind: KubeProxyConfiguration
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  criSocket: "/var/run/crio/crio.sock"
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ hostvars[groups['master'][0]]['lb_ip'] }}:{{ lb.port }}"
    token: "{{ ktoken }}"
    unsafeSkipCAVerification: true
caCertPath: "{{ ca_cert_path }}"
{%- if inventory_hostname in groups["master"] %}
controlPlane:
  localAPIEndpoint:
    bindPort: {{ kubeapi.port }}
  certificateKey: "{{ hostvars[groups['master'][0]]['certificate_key']['stdout'] }}"
{%- endif %}
